@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
   min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
}

::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #666666;

}

.e-mail{
  width: 559px;
  height: 60px;
  padding: 0 19px 0 22px;
  border-radius: 10px 0 0 10px;
  border: 0;
  background: #f2f2f2;
}

.e-mail:hover {
  background: #e5e5e5;
}

.e-mail:focus {
  background: #e5e5e5;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius:10px 0 0 10px;
  outline: none;
}

.e-mail:active {
  background: #ffffff;
  box-shadow: inset 0 0 0 3px #000000;
  border-radius:10px 0 0 10px;
  color: #000000;
}


.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 #B7B7B7;
  background-color: #FFFFFF;
}
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-search {
    background-color: #756257;
    width: 575px;
    padding: 15px 0;
}

.button-search:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
  background-color: #615048;
}

.subscribe-button{
  border-radius: 0 10px 10px 0;
  padding: 17px 34px ;
  width: 200px;
}

.subscribe-button:hover, .apply-button:hover, .favorites-button:hover{
  background-color: #68A2CA;
}

.subscribe-button:focus{
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  border-radius: 0 10px 10px 0;

}

.apply-button:focus{
    background-color: #68A2CA;
    box-shadow: inset 0 0 0 3px #FFFFFF;
    border-radius: 4px;
}

.subscribe-button:active,.apply-button:active, .favorites-button:active{
  box-shadow: none;
  background-color: #68A2CA;
  color: #95BEDA;
}

.want-button{
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 160px;
  padding: 9px 34px;
}

.want-button:hover, .button-search:hover,.more-button:hover {
  background-color: #615048;
}

.want-button:focus, .more-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
  background-color: #615048;
}

.want-button:active ,.button-search:active, .more-button:active {
  box-shadow: none;
  color: #90847F;
  background-color:#615048;
}



.more-button{
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 151px;
  padding: 9px 0;
}

.favorites-button{
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 9px 0;
}

.favorites-button:focus{
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  border-radius:4px;
}

.favorites-button-active {
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 9px 0;
}

.favorites-button-active:hover{
  background-color: #6C9E42;

}

.favorites-button-active:focus{
  background-color: #6C9E42;
  box-shadow: inset 0 0 0 3px #756257;
  border-radius:4px;
}

.favorites-button-active:active{
  color: #98BB7B;
  background-color: #6C9E42;
  box-shadow: none;
}


.apply-button{
  font-size: 16px;
  line-height: 21px;
  padding: 13px 34px;
}


.button-light {
  font-family: inherit;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  padding: 5px 14px;
}

.button-light:hover, .breadcrumbs-link:hover, .breadcrumbs-icon:hover{
  opacity: 60%;
}

.button-light:focus,.breadcrumbs-link:focus,.breadcrumbs-icon:focus{
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.button-light:active,.breadcrumbs-link:active, .breadcrumbs-icon:active{
  box-shadow: none;
  opacity: 30%;

}

h2 {
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #000000;
text-align: center;
margin: 0;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  width: inherit;
  margin: 0 auto;
  position: relative;
}

.navigation {
  display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding: 15px 72px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}



.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  margin: 0;
}

.navigation-item {
  margin: 0 20px 0 0;
}

.navigation-logo {
  display: block;
  width: 138px;
  position: absolute;
  left: -69px;
  margin-left: 50%;
  z-index: 10;
}

.navigation-link {
  display: block;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.user-nav {
  margin: 0 20px 0 0;
}

.user-nav:nth-child(3n) {
  margin-right: 0;
}

.user-link {
display: flex;
justify-content: center;
align-items: center;
width: 38px;
height: 38px;
text-decoration: none;
}

.user-link, .user-icon:hover, .user-icon:focus, .navigation-link:hover,.product-card-title:hover {
  fill: #756257;
  color: #756257;
}

.user-link:focus, .navigation-link:focus, .product-card-title:focus  {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
  color: #756257;
}

.user-icon:active {
  fill:#d6d0cd;
}

.user-link:active, .navigation-link:active, .product-card-title:active{
  box-shadow: inset 0 0 0 0 ;
  color:#d6d0cd;
}

.user-icon{
  margin: 0px;
  fill: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: inherit;
  margin: 0 auto;
}

.slogan{
  padding-top: 52px;
  position: relative;
  background: url("../img/divider.svg") bottom, url("../img/index-background.jpg") ;
  background-repeat: no-repeat;
}

.slogan-sedona {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.reasons {
  text-align: center;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.reasons-h2 {
  padding-top: 63px;
}

.reasons-p{
  margin-bottom: 79px;
}

.reasons-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.reasons-item-1{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasons-item-2{
  margin: 0;
  padding: 0;
  display: flex;
}

.reasons-icon{
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 72px;
}


.reasons-text{
  width: 400px;
}

.photo {
  width: 800px;
}


.reasons-list-1{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #333333;
  background-color: #ffffff;
}


.reasons-item-1-1, .reasons-item-1-2, .reasons-item-1-3, .reasons-item-3,.reasons-item-4, .reasons-item-5 {
  width: 400px;
}

.reasons-item-1, .reasons-item-2 {
  color: #ffffff;
  background-color: #83B3D3;
}

.reasons-item-1-1, .reasons-item-1-3, .reasons-item-3, .reasons-item-5 {
  background-color: rgba(131, 179, 211, 0.12);

}

.reasons-item-4{
  background-color: rgba(131, 179, 211, 0.2);

}


.reasons-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  padding: 98px 75px 20px 75px;
  margin: 0;
}

.reasons-title-1, .reasons-title-2 {
  padding: 98px 75px 20px 75px;
  margin: 0;
}


.reasons-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 0px 75px 20px 75px;
  margin: 0;
}


 .reasons-description {
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   padding: 0 75px  75px;
   margin: 0;
 }

.reasons-item-1, .reasons-item-2 {
  color: #ffffff;
  background-color: #83B3D3;
}


.reasons-item-1-1, .reasons-item-1-3, .reasons-item-3, .reasons-item-5 {
  background-color: rgba(131, 179, 211, 0.12);

}

.reasons-pic{
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80px;
  margin-top: 85px;
}

.house-pic{
  background-image: url("../img/icon-1.svg");
}

.food-pic{
  background-image: url("../img/icon-2.svg");
}
.present-pic {
  background-image: url("../img/icon-3.svg");
}

.title-pic{
  padding-top: 23px ;
  padding-bottom: 20px ;

}

.reasons-item-4{
  background-color: rgba(131, 179, 211, 0.2);

}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 91px;
  padding-bottom: 91px

}

.hotel-search-description {
  margin: 0;
  padding: 29px 0 58px 0;
}

.newsletter {
  color: #ffffff;
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom:  93px;
}

.newsletter-title {
color: #ffffff;
text-transform: uppercase;
}

.newsletter-form {
  padding-top: 44px;
}

.newsletter-form-item{
  display: flex;
  justify-content: center;
}


.page-footer{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 40px 72px 40px 72px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social-icon {
 fill: #83B3D3;
}
.social-icon:hover, .social-icon:focus  {
  fill:#68A2CA
}

.social-link:focus {
  color:#68A2CA  ;
  box-shadow: inset 0 0 0 3px #68A2CA;
  border-radius: 10px;
}

.social-link:active{
  box-shadow: none;
}

.social-icon:active {
  fill:#D2E3EF
}

.footer-contacts{
  width: 720px;
  text-align: center;
}

.footer-contacts-item {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

.html-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 33px;
  padding: 19px 22px;
}

.logo-html{
  fill: #000000;
}
.footer-contacts-item:hover, .logo-html:hover {
  color: #756257;
  fill: #756257;
}

.footer-contacts-item:focus, .html-link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.footer-contacts-item:active, .logo-html:active, .html-link:active{
  box-shadow: none;
  color: #D6D0CC;
  fill: #D6D0CC;
}

/* Catalog */

.main-inner {
  background-image: url("../img/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
  background-color: #FFFFFF;
}

.inner-header {
color: #FFFFFF;
margin-left: 72px;
margin-bottom: 45px;
}

.inner-header-title {
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
margin: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

.breadcrumbs-item{
  margin-right: 11px;
}

.breadcrumbs-link {
  color: inherit;
  display: flex;
  margin: 0;
  padding: 0;

}


.breadcrumbs-icon{
  fill: #FFFFFF;
}

.filters{
color: #FFFFFF;
padding: 0 72px 83px 72px;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
  list-style: none;
}


.catalog-filter-price{
  width: 278px;
}

.catalog-filter-buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;


}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list{
  list-style: none;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  color: #000000;
  background-color: #FFFFFF;
  margin-left: 72px ;
  margin-right: 72px;
  margin-bottom: 42px;

}

.results{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin: 0;
}

.sorting-view{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting-icon {
  margin-right: 8px;
  margin-bottom: 8px;
}

.sorting-icon:nth-child(3n) {
  margin-right: 0;
}

.icon-button{
  display: block;
  width: 48px;
  height: 48px;
  box-shadow: inset 0 0 0 3px #E5E5E5;
  border-radius: 4px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-button:hover, .icon-button:focus{
  box-shadow:inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.icon-button:active {
  box-shadow:inset 0 0 0 3px #000000;
  border-radius: 4px;
  outline: none;
}

.icon-card {
  background-image: url("../img/mode-tile.svg");
}

.icon-slideshow{
  background-image: url("../img/mode-slideshow.svg");

}

.icon-list{
    background-image: url("../img/mode-list.svg");
}
.product-list{
  display: grid;
  list-style: none;
  margin: 0 72px;
  padding: 0;
}

.product-card{
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 180px 36px 151px 8px 160px 1fr 160px;
  grid-template-rows: 31px 23px 31px 37px;
  grid-template-areas:
  "card-image .card-title card-title card-title . card-stars"
  "card-image .card-type . card-price . ."
  "card-image . . . . . ."
  "card-image . more-btn . favorites-btn . card-rating"
}

.product-card-link {
  text-decoration: none;
}


.product-card-image {
  grid-area: card-image;
}


.product-card-image:hover{
  opacity: 60%;
}


.product-card-image:focus{
  opacity: 60%;
}


.product-card-image:active{
  opacity: 30%;
}

.product-card-title {
  grid-area: card-title;
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.product-card-type {
  grid-area: card-type;
  font-size: 18px;
  line-height: 23px;
}

.product-card-price {
  grid-area: card-price;
  font-size: 18px;
  line-height: 23px;
}

.more-button {
  grid-area: more-btn;
}

.favorites-button, .favorites-button-active {
  grid-area: favorites-btn;

}

.stars {
  grid-area: card-stars;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

}

.icon-star {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  margin-left: 7px;
}
 .rating {
  grid-area: card-rating;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  margin: 0 auto;
  padding: 9px 32px;
  border-radius: 4px;
 }

.load-space{
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  margin: 0 72px;
}

 .button-load{
   display: block;
   width: 625px;
   height: 55px;
   margin: 0 auto;

}

.pagination-container{
  display: flex;
  padding-top: 31px;
  margin-left: 72px;
  margin-right: 72px;
}

 .pagination {
   display: flex;
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   list-style: none;
 }

 .pagination-item {
   margin-right: 8px;
 }

 .pagination-link {
   display: block;
   box-sizing: border-box;
   border-radius: 4px;
   width: 55px;
   height: 55px;
   padding: 14px 20px;
   color: #FFFFFF;
   background-color: #83B3D3;
   text-decoration: none;
   font-size: 20px;
   font-weight: 700;
 }

  .pagination-link:hover {
    background-color: #68A2CA;
  }

  .pagination-link:focus {
    background-color: #68A2CA;
    box-shadow: inset 0 0 0 3px #756257;
    border-radius:4px;
  }

  .pagination-link:active {
    box-shadow: none;
    background-color: #68A2CA;
    color: #95BEDA;
  }

 .pagination-current {
   color: #000000;
   background-color: #F2F2F2;
 }

.pagination-view {
   margin-left: auto;
}
.number{
  font-size: 18px;
  line-height: 23px;
}

.newsletter-inner {
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 137px;
}

.newsletter-title-inner {
  padding-top: 89px;
  text-transform: uppercase;
}
