@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
   min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 #B7B7B7;
  background-color: #FFFFFF;
}
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
}

.button-search {
    background-color: #756257;
}

.more-button{
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 151px;
}

.favorites-button{
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.favorites-button-active {
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.icon-button {
  color: #000000;
  background-color: #FFFFFF;

}
.button-light {
  font-family: inherit;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-top: 20px;
}

h2 {
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #000000;
text-align: center;
margin: 0;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  width: inherit;
  margin: 0 auto;
}

.navigation {
  display: grid;
   grid-template-columns: 1fr 138px 1fr;
   align-items: center;
   padding-left: 72px;
   padding-right: 72px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navigation-item {
  margin: 0 20px 0 0;
}


.navigation-link {
 display: block;
 padding: 6px 12px;
 font-size: 20px;
 line-height: 26px;
 color: #000000;
 background-color: #FFFFFF;
 font-weight: 700;
 text-align: center;
 text-decoration: none;
}
.user-nav {
  margin: 0 20px 0 0;
}

.user-nav:nth-child(3n) {
  margin-right: 0;
}

.user-link{
display: block;
width: 38px;
height: 38px;
text-decoration: none;

}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.page-container {
  width: inherit;
  margin: 0 auto;
}


.slogan-sedona {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.reasons {
  text-align: center;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.reasons-h2 {
  padding-top: 63px;
}

.reasons-p{
  margin-bottom: 79px;
}

.reasons-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.reasons-item-1{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasons-item-2{
  margin: 0;
  padding: 0;
  display: flex;
}


.reasons-text{
  width: 400px;

}

.photo {
  width: 800px;

}


.reasons-list-1{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #333333;
  background-color: #ffffff;
}

.reasons-item-1-1, .reasons-item-1-2, .reasons-item-1-3, .reasons-item-3,.reasons-item-4, .reasons-item-5 {
  width: 400px;
}

.reasons-item-1, .reasons-item-2 {
  color: #ffffff;
  background-color: #83B3D3;
}

.reasons-item-1-1, .reasons-item-1-3, .reasons-item-3, .reasons-item-5 {
  background-color: rgba(131, 179, 211, 0.12);

}

.reasons-item-4{
  background-color: rgba(131, 179, 211, 0.2);

}


.reasons-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  padding: 98px 75px 20px 75px;
  margin: 0;
}

.reasons-title-1, .reasons-title-2 {
  padding: 98px 75px 20px 75px;
  margin: 0;
}


.reasons-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 0px 75px 20px 75px;
  margin: 0;
}


 .reasons-description {
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   padding: 0 75px  75px;
   margin: 0;
 }

.reasons-item-1, .reasons-item-2 {
  color: #ffffff;
  background-color: #83B3D3;
}


.reasons-item-1-1, .reasons-item-1-3, .reasons-item-3, .reasons-item-5 {
  background-color: rgba(131, 179, 211, 0.12);

}

.reasons-item-4{
  background-color: rgba(131, 179, 211, 0.2);

}

.hotel-search {
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 91px;
  padding-bottom: 91px

}

.newsletter {
  color: #ffffff;
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom:  93px;
}

.newsletter-title {
color: #ffffff;
text-transform: uppercase;
}

.newsletter-form {
  padding-top: 44px;
}

.page-footer{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 40px 72px 40px 72px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-icon {
  display: block;
  width: 40px;
  height: 40px;

}

.footer-contacts{
  width: 720px;
  text-align: center;
}

.footer-contacts-item {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

/* Catalog */

.main-inner {
  background-image: url("../img/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
  background-color: #FFFFFF;
}

.inner-header {
color: #FFFFFF;
margin-left: 72px;
margin-bottom: 45px;
}

.inner-header-title {
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
margin: 0;
}

.breadcrumbs {
  font-size: 16px;
  list-style: none;
  margin: 5px 0 0 0;
}

.breadcrumbs-link {
  color: inherit;
  display: flex;
  margin: 0;
  padding: 0;
}

.filters{
color: #FFFFFF;
padding: 0 72px 83px 72px;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
  list-style: none;

}

.catalog-filter-infrastruction {

}

.catalog-filter-housing {

}

.catalog-filter-price{
  width: 278px;
}

.catalog-filter-buttons{
  display: flex;
  flex-direction: column;


}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list{
  list-style: none;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  color: #000000;
  background-color: #FFFFFF;
  margin-left: 72px ;
  margin-right: 72px;
  margin-bottom: 42px;

}

.results{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin: 0;
}

.sorting-view{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting-icon {
  margin-right: 8px;
  margin-bottom: 8px;
}

.sorting-icon:nth-child(3n) {
  margin-right: 0;
}

.icon-button{
  display: block;
  width: 48px;
  height: 48px;
}

.product-list{
  display: grid;
  gap: 58px;
  list-style: none;
  margin-left: 72px ;
  margin-right: 72px;
  padding: 0;
}

.product-card{
  display:grid;
  grid-template-columns: 180px 36px 151px 8px 160px 1fr 160px;
  grid-template-rows: 31px 23px 31px 37px;
  grid-template-areas:
  "card-image .card-title card-title card-title . card-stars"
  "card-image .card-type . card-price . ."
  "card-image . . . . . ."
  "card-image . more-btn . favorites-btn . card-rating"
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  grid-area: card-image;
}


.product-card-title {
  grid-area: card-title;
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.product-card-type {
  grid-area: card-type;
  font-size: 18px;
  line-height: 23px;
}

.product-card-price {
  grid-area: card-price;
  font-size: 18px;
  line-height: 23px;
}

.more-button {
  grid-area: more-btn;
}

.favorites-button, .favorites-button-active {
  grid-area: favorites-btn;

}

.stars {
  grid-area: card-stars;

}
 .rating {
  grid-area: card-rating;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
 }

 .button-load{
   display: block;
   width: 625px;
   height: 55px;
   margin: 0 auto;

}

.pagination-container{
  display: flex;
  padding-top: 31px;
  margin-left: 72px;
  margin-right: 72px;
}

 .pagination {
   display: flex;
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   list-style: none;
 }

 .pagination-item {
   margin-right: 8px;
 }

 .pagination-link {
   display: block;
   box-sizing: border-box;
   width: 55px;
   height: 55px;
   padding: 14px 20px;
   color: #FFFFFF;
   background-color: #83B3D3;
   text-decoration: none;
   font-size: 20px;
   font-weight: 700;
 }

 .pagination-current {
   color: #000000;
   background-color: #F2F2F2;
 }

.pagination-view {
   margin-left: auto;
}
.number{
  font-size: 18px;
  line-height: 23px;
}

.newsletter-inner {
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 137px;
}

.newsletter-title-inner {
  padding-top: 89px;
  text-transform: uppercase;
}
